header{
    background-color:  #f7d917;
    margin: 0%;
}
h1{
    margin: 0%;
    font-size: 30px;
}
h2{
    font-size: 40px;
    color: lightskyblue;
}
h3{
    color: royalblue;
    font-size: 25px;
}
ul{
    list-style: none;
}
body{
    background-color: lightgoldenrodyellow;
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.azul{
    color: lightskyblue;
}